# macOS system files
.DS_Store
*/.DS_Store

# Terraform local files (IMPORTANT)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Private Keys (CRITICAL - Don't leak your jenkins-key!)
jenkins-server/jenkins-key
*.pem

# Sensitive variables
terraform.tfvars